# Django and Python files to ignore
__pycache__/
*.pyc
*.pyo
*~
venv/
env/
db.sqlite3

# Node.js and React files to ignore
/frontend/node_modules/
/frontend/build/
/frontend/.parcel-cache/
package-lock.json
npm-debug.log
yarn-error.log

# Operating System files to ignore
.DS_Store
.vscode/

# Environment Variables and other sensitive files
.env